<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.profil">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_profil">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application>
        <activity android:name=".AddAlamat"></activity>
        <activity android:name=".AddProfil"></activity>
        <activity android:name=".AddToko"></activity>
        <activity android:name=".MyOrder"></activity>
        <activity android:name=".AturAlamat"></activity>
    </application>
</manifest>

