<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iderpay">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_iderpay">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme">
        <activity android:name=".KirimBukti"></activity>
        <activity android:name=".TopUp" />
        <activity android:name=".Iderpay" />
    </application>

</manifest>