<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pmo.iderin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Admin.ManageBarang"></activity>
        <activity android:name=".PenjualActivity" />
        <activity android:name=".DetailToko" />
        <activity android:name=".AllBarang" />
        <activity android:name=".Profile.Ideerpay" />
        <activity android:name=".AllKategori" />
        <activity
            android:name=".Admin.KategoriActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Admin.FormKategori"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Admin.AdminActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Auth_Register"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Profile.Addbarang"
            tools:ignore="InnerclassSeparator" /> <!-- <activity android:name=".Helpers.OfflinePersistance"></activity> -->
        <activity android:name=".Init">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Profile.AddAlamat" />
        <activity android:name=".Profile.MyToko" />
        <activity android:name=".Profile.MyOrderActivity" />
        <activity
            android:name=".Profile.AddProfil"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Profile.AddToko"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Profile.ManageAlamatActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Explore.TokoActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".Activity_checkout" />
        <activity
            android:name=".Auth_login"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash" />
    </application>

</manifest>