<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pmo.iderin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
<!--        <activity android:name=".Helpers.OfflinePersistance"></activity>-->
        <activity android:name=".Init">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile.AddAlamat" />
        <activity android:name=".Profile.MyToko" />
        <activity android:name=".Profile.MyOrderActivity" />
        <activity
            android:name=".Profile.AddProfil"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Profile.AddToko"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Profile.ManageAlamatActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Explore.TokoActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".Activity_checkout" />
        <activity android:name=".Auth" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash"></activity>
    </application>

</manifest>