<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pmo.iderin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.iderin.DetailTransaksi"></activity>
        <activity android:name="com.iderin.DetailToko" /> <!-- <activity -->
        <!-- android:name="com.profil.Ideerpay" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <activity android:name="com.iderin.Init">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- <activity -->
        <!-- android:name="com.toko.MyToko" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.iderin.Explore.TokoActivity" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <activity android:name="com.iderin.SearchActivity" />
        <activity android:name="com.iderin.Splash" /> <!-- <activity -->
        <!-- android:name="com.profil.AddAlamat" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.admin.Kategori" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.profil.MyOrder" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.profil.AddProfil" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.admin.FormKategori" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.admin.Admin" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.profil.AddToko" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.profil.AturAlamat" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.auth.Register" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <!-- <activity -->
        <!-- android:name="com.barang.Addbarang" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.admin.ManageUser" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.admin.ManageBarang" -->
        <!-- tools:ignore="InnerclassSeparator" /> -->
        <!-- <activity -->
        <!-- android:name="com.auth.Login" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <!-- <activity android:name="com.penjual.Penjual" /> -->
        <activity android:name="com.iderin.MainActivity" />
    </application>

</manifest>